/*---------*/
/* General */
/*---------*/

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 250px;
    margin: auto;
    padding: 0 10px 0 10px;
}

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.v-align {
    align-items: center;
}

.h-align {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}


/*--------*/
/* Header */
/*--------*/

header {
    background-color: #FF6800;
    color: #ffffff;
    box-shadow: 0px 1px 3px #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-col {
    height: 50px;
}

.header-logo {
    justify-content: center;
    align-items: center;
}

.header-col img {
    width: 125px;
}

.header-link {
    font-size: 12px;
    font-weight: bold;
}

.header-icons {
    justify-content: flex-end;
}

.header-icons i {
    padding-left: 10px;
}


/*--------------*/
/* Main Section */
/*--------------*/

main {
    margin: 50px 0;
}

.row {
    gap: 1rem;
    padding-top: 50px;
}

.main-col {
    flex-basis: calc((100% - 2rem ) / 3);
    flex-grow: 1;
    min-width: 300px;
}


/*---------*/
/* Product */
/*---------*/

.main-col .product-image {
    position: relative;
}

.main-col .product-image img {
    width: 100%;
}

.main-col .product-image img:last-of-type {
    display: none;
}

.main-col .product-image:hover img:last-of-type {
    display: unset;
}

.main-col .product-image:hover img:first-of-type {
    display: none;
}

.main-col .product-image .badges {
    position: absolute;
    bottom: 40px;
}

.main-col .product-image .badges .discount-badge {
    background-color: #FF0100;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 10px;
}

.main-col .product-image .badges .sostenibilita-badge {
    background-color: #008001;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 10px;
}

.main-col .product-image .favourite {
    padding: 5px 10px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 0px;
}

.main-col .product-info .product-brand {
    display: block;
    font-size: 12px;
}

.main-col .product-info p {
    font-size: 14px;
    font-weight: 600;
}

.main-col .product-info .price {
    color: #FF0100;
    font-size: 12px;
    font-weight: 600;
}

.main-col .product-info .price-discounted {
    color: #000000;
    font-size: 12px;
    text-decoration: line-through;
}


/*--------*/
/* Footer */
/*--------*/

footer {
    background-color: #1A1A1A;
    color: #ffffff;
    padding: 25px 0;
}

.footer-col {
    width: 50%;
}

.footer-col h4,
.footer-col h6 {
    padding-bottom: 10px;
}

.footer-col .footer-link {
    font-size: 12px;
    font-weight: 400;
    padding-right: 10px;
}

.footer-col i {
    font-size: 18px;
    padding-left: 3px;
}